@model Bitacora.Models.ModeloUsuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ModeloUsuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDeBitacoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDeBitacoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerfilDeAutenticacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerfilDeAutenticacion.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsuarioId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
