@model IEnumerable<Bitacora.Models.ModeloPost>;

@{
    ViewData["Title"] = "Index";
    var bitacoraId = ViewBag.BitacoraId as int?;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraDeCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitacoraAsociada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDeCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitacoraAsociada.NombreDeBitacora)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="nota">Nota:</label>
                <input name="nota" class="form-control" required />
            </div>
            <input type="hidden" name="id" value="@bitacoraId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}