@model Bitacora.Models.ModeloBitacora

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ModeloBitacora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDeBitacora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDeBitacora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraDeCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraDeCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BitacoraId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
