@model IEnumerable<Bitacora.Models.ModeloBitacora>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDeBitacora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraDeCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDeBitacora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDeCreacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BitacoraId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BitacoraId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BitacoraId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
