@model IEnumerable<Bitacora.Models.ModeloBitacora>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover tabla-redondeada">
    <thead>
        <tr>
            <th class="col-8">Nombre de la bitácora</th>
            <th class="col-1 text-center">Fecha</th>
            <th class="col-1 text-center">Hora</th>
            <th class="col-1 text-center"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class ="col-8">
                <a asp-action="RedireccionAPosts" asp-route-id="@item.BitacoraId" class="btn btn-outline-link text-decoration-none fw-bold text-primary">
                    @Html.DisplayFor(modelItem => item.NombreDeBitacora)
                </a>
            </td>
                <td class="col-1 text-center">
                @Html.DisplayFor(modelItem => item.FechaDeCreacion)
            </td>
                <td class="col-1 text-center">
                @Html.DisplayFor(modelItem => item.HoraDeCreacion)
            </td>
            <td class="col-1 text-center">
                <div class="dropdown-center">
                    <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        ...
                    </a>
                    <ul class="dropdown-menu dr" aria-labelledby="dropdownMenuLink">
                        <li class="text-center"><a asp-action="Edit" asp-route-id="@item.BitacoraId" class="dropdown-item">Editar</a> </li>
                        <li class="text-center"><a asp-action="Details" asp-route-id="@item.BitacoraId" class="dropdown-item">Detalles</a></li>
                        <li class="text-center"><a asp-action="Delete" asp-route-id="@item.BitacoraId" class="dropdown-item text-danger">Eliminar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
