@model IEnumerable<Bitacora.Models.ModeloPost>;

@{
    ViewData["Title"] = "PostsInput";
}

<h1>PostsInput</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Notas
            </th>
            <th>
                FechaDeCreacion
            </th>
            <th>
                HoraDeCreacion
            </th>
            <th>
                BitacoraAsociada
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDeCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitacoraId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
